
<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
        <meta name="author" content="FURKAN TAHA UNAL">
	<title>RENT CAR</title>

  
</head>
<body>
<%- include('../../fragments/header.ejs') %>

<main>
  <scripe type="application/javascript" src="../../../public/js/validationCommon.js"></scripe>
  <scripe type="application/javascript" src="../../../public/js/validationCustomerForm.js"></scripe>
  
  <h2><%= pageTitle%></h2>

  <form class="form" method="post" action="<%=formAction%>" novalidate >

<input type="hidden" name="_id" value="<%= customer._id %>">


<label for="firstname">Name: *</label>
<input type="text" name="firstname" id="firstname" placeholder="np: Taha" value=" <%= customer.firstname%>" 
class="<%= validationErrors.find(e => e.path.includes('firstname')) ? 'error-input' : '' %>"
              <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
          <span id="errorFirstname" class="errors-text">
               <% if (validationErrors.find(e=> e.path.includes('firstname'))) { %>
                  <%= validationErrors.find(e=> e.path.includes('firstname')).message %>
               <% } %>
          </span>
  

  
<label for="surname">Surname: *</label>
<input type="text" name="surname" id="surname" placeholder="np: unal" value="<%= customer.surname %>" class="<%= validationErrors.find(e=>
e.path.includes('surname')) ? 'error-input' : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
<span id="errorsurname" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('surname'))) { %>
        <%= validationErrors.find(e=> e.path.includes('surname')).message %>
     <% } %>
</span>

 
<label for="address">Address: *</label>
<input type="text" name="address" id="address" placeholder="np: ul.plocka 4" value="<%= customer.address %>" class="<%= validationErrors.find(e=>
e.path.includes('address')) ? 'error-input' : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
<span id="erroraddress" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('address'))) { %>
        <%= validationErrors.find(e=> e.path.includes('address')).message %>
     <% } %>
</span>


  

<label for="age">Age: *</label>
<input type="text" name="age" id="age" placeholder="np: ul.plocka 4" value="<%= customer.age %>" class="<%= validationErrors.find(e=>
e.path.includes('age')) ? 'error-input' : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
<span id="errorage" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('age'))) { %>
        <%= validationErrors.find(e=> e.path.includes('age')).message %>
     <% } %>
</span>

<label for="email">email: *</label>
<input type="text" name="email" id="email" placeholder="np: ul@gmail.com" value="<%= customer.email %>" class="<%= validationErrors.find(e=>
e.path.includes('email')) ? 'error-input' : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
<span id="erroremail" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('email'))) { %>
        <%= validationErrors.find(e=> e.path.includes('email')).message %>
     <% } %>
</span>



<label for="number">Phone Number: *</label>
<input type="text" name="number" id="number" placeholder="np: 159753963" value="<%= customer.number %>" class="<%= validationErrors.find(e=>
e.path.includes('email')) ? 'error-input' : '' %>"
    <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
<span id="errornumber" class="errors-text">
    <% if (validationErrors.find(e=> e.path.includes('number'))) { %>
        <%= validationErrors.find(e=> e.path.includes('number')).message %>
     <% } %>
</span>

<% if (formMode == 'showDetails') { %>
  <div>
      <a class="list-actions-button-edit" href="/customer/edit/<%= customer._id %>">Edit</a>
  </div>
<% } %>

  
  <div>
    <p id="errorsSummary" class="errors-text"></p>
  
    <% if (formMode != 'showDetails') { %>
        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
        <a class="form-button-cancel" href="/customer">cancel</a>
    <% } else { %>
        <a class="form-button-cancel" href="/customer">Return</a>
    <% } %>
  </div>

  
 </form>

 <% if (formMode == 'showDetails' || formMode == 'edit') { %>
  <h2>Customer Details</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th>Car</th>
        <th>Location</th>
        <th>Rent Date</th>
	      <th>Return Date</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
     <% for (let c of customers.rents) { %>
        <tr>
          <td><a href="/cars/details/<%= c.car._id %>"><%= c.car.model %></a></td>
          <td><%= c.location %></td>
          <td><%= c.rentdate.toISOString().split('T')[0] : '' %></td>
          <td><%= c.returndate ? c.returndate.toISOString().split('T')[0] : '' %></td>
        </tr>
        <% } %>   
    </tbody>
  </table>
  <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>
</body>
</html>